.admin-body {
    padding:50px 1%;
    background-color: rgba(28, 42, 39, 0.972);
    min-height: 750px;
}
/* .admin-body-header, 
.admin-header-left,
.admin-body-main, 
.table-header,
.table-header-element {
    display: flex;
    justify-content: space-between;
} */

.table-header,
.table-header-element {
    align-items: center;
}

.table-header-element {
    margin: 20px 0;
    background: rgb(68, 102, 99);
    padding:5px 20px;
    border-radius:5px;
    border: black solid 3px;
    color:white;
}

.table-header-element label {
    margin-right:20px;
}
.create-account, 
.add-credits {
    width:150px;
}
.admin-body-header {
    margin-bottom: 30px
}
.admin-table {
    background-color: rgb(230, 231, 240);
    width:70%;
    padding:2% 5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgb(245, 239, 239), 0 6px 20px 0 rgba(160, 22, 22, 0.19);

}
.reseller-list-table {
    color:rgb(255, 255, 255);
    width:28%;
    /* background: rgb(14, 15, 14); */
    /* border-radius: 10px; */
    /* padding:2%; */
    /* box-shadow: 10px 10px #bb1818; */
    /* box-shadow: 0 4px 8px 0 rgb(245, 239, 239), 0 6px 20px 0 rgba(160, 22, 22, 0.19); */
}

/* .reseller-list-table tr td:nth-child(2), 
.reseller-list-table tr th:nth-child(2) {
    text-align: left;
    padding-left: 20%;
} */

/* .dataTable td,
.dataTable th {
    text-align: left; 
} */
.table-button {
    border:none;
    background:transparent;
    color:white;
}
.table-button:hover {
  color: #5101d1;
}

.seller-edit {
    margin-right: 5px;
}

.adminTable .MuiTableContainer-root {
    min-height:602px;
}
.makeStyles-paper-13{
    margin:0 !important;
}

@media (min-width: 1025px) {
    .admin-body-header, 
    .admin-header-left,
    .admin-body-main, 
    .table-header,
    .table-header-element {
    display: flex;
    justify-content: space-between;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .admin-body-header, 
    .admin-header-left,
    .admin-body-main, 
    .table-header,
    .table-header-element {
    display: flex;
    justify-content: space-between;
    }
    .reseller-list-table {
        width:30%;
    }
    .admin-table {
        width:68%;
    }
  }
  @media (min-width: 100px) and (max-width: 768px) {
    .admin-table,
    .reseller-list-table {
    width:100%;
    }
    .create-account,
    .add-credits {
        width:100%;
    }
    .reseller-body-header .create-account {
        width:150px;
    }
    .admin-body-header {
        padding:0 10px;
    }
  }